*{
	box-sizing: border-box;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #bfbdbf;
	background: #30282a url(../img/bkgd.jpg) center center no-repeat fixed;
	background-size: cover;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

a{
	text-decoration: none;
}


h1, h2, h3, button, time{
	font-family: 'Teko', sans-serif;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 10px;
}

h1{
	font-size: 120px;
}

h2{
	font-size: 30px;
	font-weight: 300;
    letter-spacing: 3px;
}

h3{
	display: inline-block;
	font-size: 20px;
    letter-spacing: 2px;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	width: 90%;
}


.closed{
	display: none;
}

.logo{
	float: left;
}

.hamburger{
	float: right;
	width: 70px;
	height: 70px;
	padding-top: 25px;
	background-color: #352d2f;
}

.icon_bar{
	display: block;
	width: 24px;
	height: 2px;
	margin: 0 auto 3px;
	background-color: #fff;
}

header.navigation{
	margin-bottom: 10%;
}


.lead{
	font-size: 26px;
	line-height: 1.3;	
}

.content{
	width: 60%;
	margin-bottom: 10%;
}

.content header{
	margin-bottom: 30px;
}

.content section > p{
	font-size: 18px;
}

.content section{
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

aside{
	width: 50%;
}

section h2{
	margin-bottom: 16px;
}

form{
	margin-top: 40px;
}

input{
	font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
	color: #555555;
	border: 1px solid #e5e5e5;
	padding: 18px 20px;
	width: 80%;
}

button{
    font-size: 20px;
    background: #f63c3c;
    letter-spacing: 4px;
    border: none;
    padding: 16px 15px;
    vertical-align: top;
}

.fa{
    font-size: 22px;
    color: #fff;
    margin-right: 20px;
}

.fa.fa-facebook{
	margin-right: 27px;
}

aside article, aside time{
    margin-left: 38px;
}

aside ul li{
	margin-bottom: 20px;
}

time{
	color: #959595;
	letter-spacing: 1px;
}

footer, footer a{
	font-size: 13px;
	color: #8c8b8c;
}

footer{
	margin-bottom: 30px;
}

.footer-links{
	float: right;
}

.footer-links li{
	display: inline-block;
}
.footer-links li:first-child{
	margin-right: 20px;
}


.copyright{
	float: left;
}

.copyright a{
	color: #fff;
}






















